*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    height: 100vh;
    overflow: hidden;
}
.home{
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
}
.home_img{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.home_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.banner{
    width: 800px;
    height: 255px;
    bottom: 260px;
    left: 565px;
    position: relative;
    border-radius: 15px;
    background-color: rgba(51, 51,51, 0.2);
}
.banner{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
h3 {
    margin: none;
    font-family: Verdana;
    color: whitesmoke;
    font-size: 1.5rem;
    text-shadow: 2px 2px 15px rgb(0, 0, 0);
    display: flex;
}
.form{
    width: 350px;
    height: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.home_label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.entrada{
    height: 2rem;
    width: 15rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 4px rgb(146, 185, 207);
}
.btn_home{
    height: 2rem;
    width: 15.3rem;
    font-family: Verdana;
    color: whitesmoke;
    font-size: 1.3rem;
    border-radius: 5px;
    border: none;
    box-shadow: 2.5px 2.5px 4px rgb(146, 185, 207);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    background-color: rgb(90, 139, 168);
    cursor: pointer;
}
:hover.btn_home{
    background-color: rgb(146, 185, 207);
    box-shadow: 2.5px 2.5px 4px rgb(90, 139, 168);
    text-shadow: 2px 2px 10px rgb(0, 57, 90);
    transition-duration: .9s;
}
.mensagem{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 450px;
    color: whitesmoke;
    font-size: 1.3rem;
    text-shadow: 2px 2px 20px rgb(0, 0, 0);
    font-family: Verdana;
}
.mensagem1{
    height: 255px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mensagem2{
    height: 255px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}